html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Arial;
  color: #202020;
  background-color: #d2ecff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: hsla(0, 0%, 100%, 0.6);
}
.myContact {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.myContact ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}
.myContact ul li {
  padding: 0;
  float: right;
  margin-bottom: 10px;
}

.myContact ul li a {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 700;
  box-sizing: border-box;
  color: #0067b3;
  margin-right: 40px;
}

.headerNav {
  display: table;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  border-spacing: 5px 0;
  display: table;
  margin-bottom: 0;
  table-layout: fixed;
}
.header .image__container {
  position: absolute;
  width: 133px;
  left: 10%;
  top: 30px;
  z-index: 99999;
}
.menu__bar {
  background: #ff0025;
  display: table-cell;
  width: 23%;
}
.main__nav {
  display: table;
}

.main__nav {
  float: right;
  /* display: table-cell; */
  width: 100%;
}

.menu__container {
  border-spacing: 5px 0;
  display: table;
  table-layout: fixed;
  border-spacing: 5px 0;
  margin: auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu__container li {
  display: table-cell;
  margin: 0;
  font-size: 1em;
  background: #ff0025;
  vertical-align: middle;
  font-family: Arial;
  position: relative;
  padding: 0;
  line-height: 1.5em;
  list-style: none;
  text-align: center;
  width: 13%;
}

.menu__container a {
  display: table-cell;
  text-decoration: none;
  padding: 20px 0;
  background: #ff0025;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  font-stretch: normal;
  box-sizing: border-box;
  border-spacing: 0.5em;
  margin-left: 20%;
  width: 100%å;
}

.main__nav > ul > li > a {
  height: 50px;
}

/* countrylist */
.container {
  display: flex;
  max-width: 880px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d2ecff;
}

.container p {
  margin: 0;
}

.container .country {
  width: 33%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
}

.container .country__name {
  background-color: #ff0025;
  text-align: center;
  padding: 10px;
  height: 50px;
}

.container .country__name p {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.container .country__emoji {
  padding: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.container .country__emoji img {
  max-width: 100%;
  height: auto;
}

.container .country__languages {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.container .country__languages span {
  width: 33%;
  background-color: #1d9400;
  border-radius: 4px;
  padding: 7px;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
  line-height: 15px;
}

.container .country__captial {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.container .country__captial span {
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 4px;
  flex: 1 1 auto;
  text-align: center;
  font-family: Arial;
}

.container .country__native {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.container .country__native span {
  font-family: Arial;
  color: white;
  background-color: #f58d06;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 4px;
  flex: 1 1 auto;
  text-align: center;
}

.container .country__languageButton {
  margin-bottom: 10px;
  padding: 0px 10px;
  bottom: 2px;
  width: 100%;
}

.container .country__languageButton button {
  display: flex;
  color: white;
  background-color: #0167b3;
  font-weight: 700;
  margin: 0;
  padding: 10px 10px;
  border-radius: 12px;
  font-size: 1em;
  width: 100%;
  border: none;
  text-decoration: none;
  justify-content: space-between;
}

/* searchbar */

.search__container {
  padding-top: 170px;
  padding-bottom: 0;
  /* background-image: url('../assets/search.png'); */
  background-repeat: none;
}
.search__left {
  background: #ffe136;
  width: 2000px;
  height: 200px;
  position: absolute;
  left: -1800px;
  top: 0;
}

.triangle {
  position: absolute;
  background-color: #0167b3;
  width: 343px;
  height: 130px;
  background-position-x: right;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  vertical-align: middle;
  padding: 40px;
}

.search__input {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 20%;
  background-color: #fff;
  border-color: #d3cec4;
  border-radius: 10px;
  color: #494949;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #d3cec4;
}

.search__button {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  display: flex;
  color: white;
  background-color: #1d9400;
  font-weight: 700;
  margin: 0;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 1em;
  border: none;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 30px;
  max-width: 280px;
  min-width: 170px;
  width: 30%;
  height: 50px;
}

@media (max-width: 800px) {
  .container .country {
    width: 100%;
  }
  .myContact {
    padding: 0;
    width: 60%;
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .container .country__languages,
  .container .country__captial {
    flex-wrap: wrap;
  }

  .container .country__captial span,
  .container .country__languages span,
  .container .country {
    width: 100%;
  }

  .container .country__captial span {
    margin-bottom: 10px;
  }
}
